<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        
    </div>
</nav>

<div>
   <form id="formu" action="/new" method="POST" enctype="multipart/form-data">
       <input type="text" name="nombre" class="form-control">
       <br>
       <input type="text" name="price" class="form-control">
       <br>
       <input type="file" name="foto" class="form-control">
      <br>
       <button type="submit" class="btn btn-dark btn-lg btn-block">Enviar</button>

   </form>

</div>
<div id="contTabla">
 <table id="tabla" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">price</th>
            <th scope="col">name</th>
            <th scope="col">imagen</th>
            <th scope="col">eliminar</th>
            <th scope="col">modificar</th>

        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr class="table-dark">
            <th scope="row">{{price}}</th>
            <td>{{nombre}}</td>
            <td><img id="imagenprueba" src="{{foto}}" alt=""></td>
            <td><a class="btn btn-primary" href="/delete/{{id}}">eliminar</a></td>
            <td><a class="btn btn-dark" href="/edit/{{id}}">modificar</a></td>
        </tr>
        {{/each}}
    </tbody>
 </table>


</div>
<!--aca tambien habia puesto la ruta absoluta de public , pero me tira un 404 como que no la encuentra-->


<div class="card-body">
    <h1 class="display-3"> Unload!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg btn-block" href="#" role="button">Learn more</a>
    </p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    <script type="text/javascript">
    
    
    
    
    </script>
</body>
</html>